<!-- Hydejack uses Icomoon icons by default. The below allows "font-family: FontAwesome" in CSS. -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- And another one for Academicons (same as FontAwesome's "fa" except "ai"): -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
<!-- Analytics tracking with GoatCounter -->
<script data-goatcounter="https://bauwenst.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
<!-- Allow pinch zooming on mobile https://stackoverflow.com/q/12392761/9352077 -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2.0, minimum-scale=1, user-scalable=yes"/>
<!-- Google search console verification -->
<meta name="google-site-verification" content="8_KSJk_ia5RQ3dZLhNkyTEZzAbsE6HEWhsZbBvKyFxQ" />
