<!-- 
  Add a scroll-to-top button in the nav bar.
  The first function is based on https://stackoverflow.com/a/55926067. 
  Note that there's no need to make the button as an object. You can just insert its raw hardcoded HTML, see https://stackoverflow.com/a/46994943/9352077 
-->
<script>
function scrollBackUp() {
    window.scrollTo({top: 0, behavior: "smooth"});
}

function addScrollButton() {
    var parent   = document.querySelector(".nav-btn-bar");
    var children = parent.getElementsByTagName("button");
    var lastButton = children[children.length-1];

    lastButton.insertAdjacentHTML("afterend", "<button id='_scrolltop' onclick='scrollBackUp()' class='nav-btn no-hover'> <span class='sr-only'>Scroll to Top</span> <span style='font-family: FontAwesome; font-size: 14pt;'></span> </button>");
}

document.addEventListener("DOMContentLoaded", (event) => addScrollButton());  // The nav bar is apparently constructed AFTER scripts with 'defer' are run, so to ensure it exists, we need to delay the execution of our function with an event listener.
</script>