.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}


// Justify article text
main p, main li {
  text-align: justify;
}


// Suffix links with icons depending on the link. Don't do it for sidebar elements, which have class "no-mark-external" exactly for this purpose.
//
// Can be done in two ways:
//  - Using CSS's "background" property for the a-tag (like http://xahlee.info/js/css_add_icon_to_link.html);
//  - Using CSS's "content" property for the ::after tag (like Hydejack does by default);
// For the icons, you can either:
//  - Use a font that has them (Hydejack's default, using the icomoon font);
//  - Pull them from the CDNs of big companies;
//  - Upload them yourself;
a[href*="twitter.com/"]:not(.no-mark-external):not(.no-mark)::after {
    content: "\00a0\f099";
    color: #26a7de;

    font-family: "FontAwesome" !important;
    font-weight: normal;

    padding-right: 2px;
}

a[href*="facebook.com/"]:not(.no-mark-external):not(.no-mark)::after {
    content: "\00a0\f082" !important;
    color: #1877F2 !important;

    font-family: "FontAwesome" !important;
    font-weight: normal;

    padding-right: 2px;
}

a[href*="youtube.com/"]:not(.no-mark-external):not(.no-mark)::after {
    content: "\00a0\f16a" !important;
    color: red !important;

    font-family: "FontAwesome" !important;
    font-weight: normal;

    padding-right: 2px;
}

a[href*="wikipedia.org/"]:not(.no-mark-external):not(.no-mark)::after {
    content: "\00a0\f266" !important;
    color: darkblue !important;

    font-family: "FontAwesome" !important;
    font-weight: normal;

    padding-right: 2px;
}

a[href*="wiktionary.org/"]:not(.no-mark-external):not(.no-mark)::after {
  content: "\00a0\f266" !important;
  color: darkblue !important;

  font-family: "FontAwesome" !important;
  font-weight: normal;

  padding-right: 2px;
}

a[href*="github.com/"]:not(.no-mark-external):not(.no-mark)::after {
  content: "\00a0\f09b" !important;
  color: rgb(0, 0, 0) !important;

  font-family: "FontAwesome" !important;
  font-weight: normal;

  padding-right: 2px;
}

a[href*="aclanthology.org/"]:not(.no-mark-external):not(.no-mark)::after {
  content: "......." !important;  // Terrific spacing bruh
  color: rgba(0, 0, 0, 0) !important;
  background: url(https://aclanthology.org/images/acl-logo.svg) no-repeat right center;
  background-size: contain;
}

a[href*="stackoverflow.com/"]:not(.no-mark-external):not(.no-mark)::after {
  content: "\00a0\f16c" !important;
  color: #F48024 !important;

  font-family: "FontAwesome" !important;
  font-weight: normal;

  padding-right: 2px;
}

a[href*="stackexchange.com/"]:not(.no-mark-external):not(.no-mark)::after {
  content: "\00a0\f18d" !important;
  color: #155397 !important;

  font-family: "FontAwesome" !important;
  font-weight: normal;

  padding-right: 2px;
}


// Folder tree for nested ul's, surrounded by a div. 
// Used to be based on https://codepen.io/sazzad/pen/gEEKQb
// But now based on    https://codepen.io/asraven/pen/qbrQMX
.foldertree {    
  ul {
    margin-left: 10px;
    padding-left: 20px;
    border-left: 1px solid #ddd;
  }
  
  li {
    list-style: none;
    color: #888;
    font-size: 17px;
    font-weight: normal;
  }
    
  li.folder::before {
    font-family: FontAwesome;
    content: "\f07b";
    padding-right: 3px;  
  }
}


// Removes unnecessary vertical scrollbar next to equation blocks
// described at https://github.com/squidfunk/mkdocs-material/issues/2142
// and fixed at https://github.com/mathjax/MathJax/issues/2521#issuecomment-687217519
mjx-container {
    display: inline-block;
}
mjx-assistive-mml {
    right: 0px;
    bottom: 0px;
}


// Centered table class.
// https://www.w3schools.com/howto/howto_css_table_center.asp
table.center-table {
    display: table;  // "display: block" cancels the effect of auto-margins, so you must override it.
    margin-left: auto;
    margin-right: auto;
}


// Filled note box.
.note.filled {
    background: var(--gray-bg);  // Nice light-gray. Using a variable so it supports night mode.
    padding: 14px;
    padding-top: 22px;
}

.note.filled::before {
    top: 4px;
}


// Code restyling
code {
  font-size: inherit;
  padding: .1em .1em;
}