.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}


// Prefix links with icons depending on the link, and pull those from the CDNs of big companies.
//     http://xahlee.info/js/css_add_icon_to_link.html
a[href*="twitter.com/"] {
  background:url(https://twitter.com/favicon.ico) no-repeat left center;
  padding-left:19px;
}
  
a[href*="facebook.com/"] {
  background:url(https://www.facebook.com/favicon.ico) no-repeat left center;
  padding-left:19px;
}

a[href*="youtube.com/"] {
  background:url(https://youtube.com/favicon.ico) no-repeat left center;
  padding-left:19px;
  color: tomato;
}
