---
# Based on
#     https://stackoverflow.com/a/38860537/9352077
# except my version uses the URL of the index.html file that uses this layout, and hence you no longer need to manually specify it.
# Also, instead of outputting just a link per post, the inclusion logic from the 'list' layout is used.

layout: page-autotitled
---

{% assign list_entry_date_format = date_formats.list_entry | default:"%d %b" %}

<!-- assign categories = page.categories -->
{% assign categories = page.url | split: "/" | shift %}

{% assign pagecat = categories | join: ' ' | append: ' ' %}
{% assign pagecatlen = categories.size %}
<ul>
    {% for post in site.posts %}
        <!-- This entire body is basically just a .startswith() function to check whether the index page's path prefixes the post's path. -->
        {% assign postcat = '' %}
        <!-- assign thispostcats = post.categories -->
        {% assign thispostcats = post.url | split: "/" | shift %}
        {% for thispostcat in thispostcats  limit: pagecatlen %}
            {% assign postcat = postcat | append: thispostcat %}
            {% assign postcat = postcat | append: ' ' %}
        {% endfor %}

        {% if postcat == pagecat %}
            {% include_cached components/post-list-item.html post=post format=list_entry_date_format %}
        {% endif %}
    {% endfor %}
</ul>

{{ content }}
