---
# Nested category + tag tree for /tags/.
layout: page
---

{{ content }}

{% assign documents = site.documents %}
{% assign featured_categories = documents | where: "type", "category" | sort: "url" %}
{% assign featured_tags = documents | where: "type", "tag" | sort: "title" %}
{% assign categories = site.categories %}
{% assign tags = site.tags %}

<div class="foldertree tags-tree">
  <ul>
    <li class="folder tags-tree-root">
      <a href="{{ '/posts/' | relative_url }}" class="flip-title">All posts</a>
      <span class="faded fine">{{ site.posts | size }}</span>
      <ul>
        {% include tags-category-branch.html
          parent_path=""
          featured_categories=featured_categories
          featured_tags=featured_tags
          categories=categories
          tags=tags
        %}
      </ul>
    </li>
  </ul>
</div>
